@model IEnumerable<OrderTrackingSystem.Domain.Models.ComplaintTemplate>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "My Complaint Templates";
}

<h2>@ViewData["Title"]</h2>
<p>
    <a asp-action="Create" class="btn btn-success">Create New Template</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Body</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.TemplateTitle</td>
                <td>@item.TemplateBody</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
