@model OrderTrackingSystem.Domain.Models.Order
@{
    ViewData["Title"] = "Szczegóły zamówienia";
}

<h1>Szczegóły zamówienia</h1>

<dl class="row">
    <dt class="col-sm-3">Numer zamówienia</dt>
    <dd class="col-sm-9">@Model.OrderNumber</dd>

    <dt class="col-sm-3">Nazwa klienta</dt>
    <dd class="col-sm-9">@Model.CustomerName</dd>

    <dt class="col-sm-3">Data zamówienia</dt>
    <dd class="col-sm-9">@Model.OrderDate.ToShortDateString()</dd>

    <dt class="col-sm-3">Status</dt>
    <dd class="col-sm-9">@Model.Status</dd>

    <dt class="col-sm-3">Adres wysyłki</dt>
    <dd class="col-sm-9">@Model.ShippingAddress</dd>

    <dt class="col-sm-3">Tracking</dt>
    <dd class="col-sm-9">@Model.TrackingNumber</dd>
</dl>

<h3>Pozycje zamówienia</h3>
<table class="table">
    <thead>
        <tr>
            <th>Nazwa produktu</th>
            <th>Ilość</th>
            <th>Cena</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderItems)
        {
            <tr>
                <td>@item.ProductName</td>
                <td>@item.Quantity</td>
                <td>@item.Price.ToString("C")</td>
            </tr>
        }
    </tbody>
</table>
